/*html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}*/



body{
  background-color: black;
}
canvas{
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color:grey;
}